* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-header);
  font-family: "Montserrat", sans-serif;
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 20px;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.woff2") format("woff2"), url("../fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --bg-header:white;
  --color-icon:#173A56;
  --navbar-color:#837D88;
  --modal-bg:#2C2830;
  --menu-bg:white;
}

.mode {
  --bg-header:#1F2E35;
  --color-icon:white;
  --navbar-color:white;
  --modal-bg:#e4e1ea;
  --menu-bg:#F3F3F3;
}

.site-header {
  padding: 19px;
}

.header__logo-link {
  color: var(--color-icon);
}

.header__contact-icon-button {
  border: none;
  background-color: var(--menu-bg);
  width: 32px;
  height: 32px;
  border-radius: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.header__logo-img:hover {
  opacity: 0.8;
}

.header__navbar {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  gap: 28px;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 24px;
}

.navbar__list {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  gap: 20px;
}

.navbar__link {
  color: #22343D;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  color: var(--color-icon);
}
.navbar__link:hover {
  color: #22343D;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  color: var(--color-icon);
}

.view-plans {
  color: var(--color-icon);
  border-color: var(--color-icon);
}

.contact {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  gap: 24px;
}

.contact__sign-in {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 10px 0;
  width: 102px;
  background-color: transparent;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #BCD0E5;
  color: var(--color-icon);
}
.contact__sign-in:hover {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 10px 0;
  width: 102px;
  background-color: #02897A;
  text-align: center;
  border-radius: 4px;
  color: #FFF;
}

.contact__sign-up {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 10px 0;
  width: 110px;
  background-color: #02897A;
  text-align: center;
  border-radius: 4px;
}
.contact__sign-up:hover {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 10px 0;
  width: 110px;
  background-color: transparent;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #BCD0E5;
  color: #02897A;
}

.header__contact-icon {
  border: none;
  background: transparent;
}

#modeBtn {
  color: var(--color-icon);
  border-color: var(--color-icon);
}

.hamburger-btn {
  display: none;
  border: none;
  background-color: transparent;
  color: var(--modal-bg);
}

.header-element {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  gap: 20px;
}

@media (max-width: 930px) {
  .header__nav {
    display: none;
  }
  .hamburger-btn {
    display: block;
  }
}
@media (max-width: 400px) {
  .header-element {
    gap: 2px;
  }
}
.hero-section {
  margin-bottom: 114px;
}

.header__logo-img {
  width: 178px;
  height: 36.364px;
}

.hero {
  padding-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.hero__wrapper {
  padding-left: 13px;
}

.hero__wrapper-title-item {
  max-width: 420px;
  margin-bottom: 18px;
}

.hero__wrapper-text-item {
  max-width: 458px;
  margin-bottom: 45px;
}

.hero__wrapper-title {
  color: #22343D;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  color: var(--color-icon);
}

.hero__wrapper-text {
  color: #22343D;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  color: var(--color-icon);
}

.hero__wrapper-button-content {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  gap: 30.5px;
}

.hero__wrapper-button {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 10px 0;
  width: 175px;
  background-color: #02897A;
  text-align: center;
  border-radius: 4px;
  font-weight: 700;
}
.hero__wrapper-button:hover {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 10px 0;
  width: 175px;
  background-color: transparent;
  text-align: center;
  border-radius: 4px;
  color: #02897A;
  border: 1px solid #BCD0E5;
}

.hero__wrapper-content {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  gap: 8.5px;
}

.hero__wrapper-content-text {
  color: #02897A;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.hero__wrapper-content-text:hover {
  text-decoration-line: underline;
}

.hero-img {
  max-width: 600px;
  height: 556px;
}

@media (max-width: 1040px) {
  .hero__wrapper-title {
    color: #22343D;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    color: var(--color-icon);
  }
}
@media (max-width: 1024px) {
  .hero {
    padding-top: 0;
  }
  .hero-img {
    max-width: 460px;
  }
}
@media (max-width: 883px) {
  .hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column-reverse;
  }
  .hero-img {
    max-width: 100%;
    height: 100%;
  }
  .hero__wrapper-title-item {
    max-width: 100%;
  }
  .hero__wrapper-text-item {
    max-width: 100%;
  }
}
@media (max-width: 580px) {
  .hero__wrapper-title {
    color: #22343D;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    color: var(--color-icon);
    text-align: center;
  }
  .hero__wrapper-text {
    text-align: center;
  }
  .hero__wrapper-button {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 10px 0;
    width: 142px;
    background-color: #02897A;
    text-align: center;
    border-radius: 4px;
    text-align: center;
  }
  .header__logo-img {
    width: 170px;
    height: 36.364px;
  }
}
.built-section {
  background-image: url("../../images/built-bg.svg");
  background-repeat: no-repeat;
  background-size: 1600px 563px;
  background-position: calc(50% + 50px) calc(50% - 10px);
}

.built__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.built__wrapper-title {
  max-width: 569px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: #22343D;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--color-icon);
  text-align: center;
  margin-bottom: 66px;
}

.built__content {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: row;
}

.built__content-list {
  max-width: 240px;
}

.built__content-box {
  cursor: pointer;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}
.built__content-box:hover {
  background-color: #02897A;
}

.built__content-item-text {
  margin-top: 30px;
  margin-bottom: 13px;
  color: #22343D;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: var(--color-icon);
}

.built__content-item {
  color: #22343D;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: var(--color-icon);
}

.built__button-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.built__button {
  display: inline-block;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 10px 0;
  width: 175px;
  background-color: #02897A;
  text-align: center;
  border-radius: 4px;
  margin-top: 60px;
  margin-bottom: 90px;
}
.built__button:hover {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 10px 0;
  width: 175px;
  background-color: transparent;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #BCD0E5;
  color: #02897A;
}

@media (max-width: 900px) {
  .built-section {
    background-image: url("../../images/built-bg.svg");
    background-repeat: no-repeat;
    background-size: 800px 400px;
    background-position: calc(50% + 30px) calc(50% + 400px);
  }
  .built__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 37px;
  }
  .built__content-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .built__content-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .built__content-item {
    text-align: center;
  }
}
.management {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.management__wrapper {
  max-width: 486px;
}

.management__wrapper-item {
  color: #22343D;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: var(--color-icon);
  margin-bottom: 8px;
}

.management__wrapper-title {
  color: #22343D;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--color-icon);
  margin-bottom: 23px;
}

.management__wrapper-text {
  color: #22343D;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: var(--color-icon);
  margin-bottom: 25px;
}

.management__wrapper-text-item {
  color: #22343D;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  color: var(--color-icon);
  margin-bottom: 12px;
}

.management-img {
  max-width: 540px;
  height: auto;
}

@media (max-width: 870px) {
  .management-section {
    margin-top: 20px;
  }
  .management {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column-reverse;
  }
  .management__wrapper {
    max-width: 100%;
  }
  .management-img {
    max-width: 100%;
    margin-bottom: 50px;
  }
}
@media (max-width: 570px) {
  .management-section {
    margin-top: 30px;
  }
}
@media (max-width: 340px) {
  .management-section {
    margin-top: 0;
  }
}
.customer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.management__wrapper-content {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: row;
  gap: 30px;
}

.management__wrapper-box {
  max-width: 367.43px;
}

.customer-img {
  max-width: 543px;
  height: auto;
}

@media (max-width: 870px) {
  .customer-section {
    margin-top: 20px;
  }
  .customer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  .management__wrapper {
    max-width: 100%;
  }
  .customer-img {
    max-width: 100%;
    margin-bottom: 50px;
  }
}
@media (max-width: 570px) {
  .customer-section {
    margin-top: 30px;
  }
}
@media (max-width: 340px) {
  .customer-section {
    margin-top: 0;
  }
}
.collaborative {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.collaborative__wrapper {
  max-width: 486px;
}

.collaborative__wrapper-item {
  color: #22343D;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: var(--color-icon);
  margin-bottom: 8px;
}

.collaborative__wrapper-title {
  color: #22343D;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--color-icon);
  margin-bottom: 23px;
}

.collaborative__wrapper-text {
  color: #22343D;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: var(--color-icon);
  margin-bottom: 25px;
}

.collaborative__wrapper-text-item {
  color: #22343D;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  color: var(--color-icon);
  margin-bottom: 12px;
}

.collaborative-img {
  max-width: 542px;
  height: auto;
}

@media (max-width: 870px) {
  .collaborative-section {
    margin-top: 20px;
  }
  .collaborative {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column-reverse;
  }
  .collaborative__wrapper {
    max-width: 100%;
  }
  .collaborative-img {
    max-width: 100%;
    margin-bottom: 50px;
  }
}
@media (max-width: 570px) {
  .collaborative-section {
    margin-top: 30px;
  }
}
@media (max-width: 340px) {
  .collaborative-section {
    margin-top: 0;
  }
}
.process-section {
  padding-top: 220px;
  background-image: url("../../images/process-bg.png");
  background-repeat: no-repeat;
  background-size: 1600px 563px;
  background-position: calc(50% + 50px) calc(50% + 70px);
  margin-bottom: 150px;
}

.process__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 32px;
}

.process__wrapper-title {
  color: #22343D;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--color-icon);
  text-align: center;
  margin-bottom: 16px;
}

.process__wrapper-box {
  max-width: 542px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.process__wrapper-text {
  color: #22343D;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  color: var(--color-icon);
  text-align: center;
}

.process__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.process__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.process__content-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 16px;
}

.process__content-box-text {
  color: #2F281E;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(--color-icon);
  color: #2F281E;
}

.process__button-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.process__button {
  display: inline-block;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 10px 0;
  width: 216px;
  background-color: #02897A;
  text-align: center;
  border-radius: 4px;
  margin-top: 48px;
}
.process__button:hover {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 10px 0;
  width: 216px;
  background-color: transparent;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #BCD0E5;
  color: #02897A;
}

@media (max-width: 747px) {
  .process-section {
    background-image: url("../../images/process-bg.png");
    background-position: calc(50% + 50px) calc(50% + 4px);
  }
  .process__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 32px;
  }
}
@media (max-width: 385px) {
  .process-section {
    background-image: url("../../images/process-bg.png");
    background-position: calc(50% + 50px) calc(50% - 40px);
  }
}
.contents-section {
  margin-bottom: 150px;
}

.contents-wrapper-title {
  color: #22343D;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--color-icon);
  margin-bottom: 8px;
}

.contents-wrapper-text {
  color: #22343D;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  color: var(--color-icon);
  margin-bottom: 33px;
}

.contents-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.contents-box {
  max-width: 348px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 64px;
  background-color: #FFF;
}

.contents-box-img {
  max-width: 348px;
  height: auto;
  border-radius: 8px 8px 0px 0px;
}

.contents-box-pad {
  padding: 24px 30px 40px 24px;
}

.contents-box-text {
  color: #22343D;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.contents-box-text-bold {
  color: #22343D;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.contents-box-item {
  color: #22343D;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  cursor: pointer;
}
.contents-box-item:hover {
  color: #02897A;
}

.contents-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

@media (max-width: 1063px) {
  .contents {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .contents-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  .contents-box-pad {
    padding: 0;
  }
  .contents-box {
    max-width: 100%;
  }
  .contents-box-img {
    max-width: 100%;
  }
  .contents-icon {
    display: none;
  }
}
.table-section {
  margin-bottom: 150px;
}

.table__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.table__wrapper-title {
  color: #22343D;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--color-icon);
  margin-bottom: 8px;
}

.table__wrapper-text {
  color: #22343D;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(--color-icon);
  margin-bottom: 50px;
}

.table__content-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 38px;
}

.table__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.table-line-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.table-line-span {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  margin-left: 8px;
}

.table__content-box {
  width: 333px;
  padding-top: 24px;
  padding-bottom: 32px;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.table__content-box:hover {
  border-radius: 8px;
  background: #02897A;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
  color: var(--color-icon);
}

.table__content-box-title {
  color: #22343D;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}

.table__content-box-text {
  color: #22343D;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}

.table-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.table-line-text1 {
  color: #02897A;
  font-size: 76px;
  font-style: normal;
  font-weight: 700;
  line-height: 100px;
  letter-spacing: 0.2px;
  text-align: center;
}

.table-line-text2 {
  color: #02897A;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.1px;
  font-family: Inter;
}

.table-line-text {
  color: #AFAFAF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.1px;
}

.table__content-item {
  color: #22343D;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  font-family: Inter;
  letter-spacing: 0.2px;
}

.table__content-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.table__content-button-link {
  display: inline-block;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 10px 0;
  width: 139px;
  background-color: #02897A;
  text-align: center;
  border-radius: 4px;
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-family: Montserrat;
}

@media (max-width: 955px) {
  .table__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 32px;
  }
}
@media (max-width: 400px) {
  .table__content-box {
    width: 100%;
  }
}
.clients__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.clients__wrapper-title {
  color: #22343D;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 57px;
  color: var(--color-icon);
  letter-spacing: 0.2px;
}

.clients__wrapper-text-wrap {
  max-width: 537px;
}

.clients__wrapper-text {
  color: #22343D;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  color: var(--color-icon);
  letter-spacing: 0.2px;
  text-align: center;
}

.clients__content {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.clients__content-box {
  max-width: 327px;
  padding: 28px 26px 23.65px 26px;
  background-color: #FFF;
  border-radius: 5px;
  border: 1px solid #DEDEDE;
}

.clients__content-box-text {
  color: #737373;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.2px;
  margin-bottom: 16px;
}

.client__content-wrap {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  gap: 14px;
}

.client__content-wrap-title {
  color: #02897A;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  color: #02897A;
  letter-spacing: 0.2px;
}

.client__content-wrap-text-item {
  color: #252B42;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.2px;
}

@media (max-width: 865px) {
  .clients__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 32px;
    gap: 32px;
  }
}
.business__content {
  margin: 157px 64px 150px 78px;
}

.business__wrapper {
  border-radius: 32px;
  background: #02897A;
  padding: 10px 26px 10px 51px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: row;
}

.business__wrapper-box {
  max-width: 510px;
  margin-top: 39px;
}

.business__wrapper-box-title {
  color: #fff;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 48.5px;
}

.business__wrapper-box-button {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: row;
}

.business__wrapper-box-button-link {
  display: inline-block;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 10px 0;
  width: 150px;
  background-color: #fff;
  text-align: center;
  border-radius: 4px;
  margin-top: 60px;
  margin-bottom: 56px;
  border-radius: 8px;
  color: #02897A;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.business__wrapper-box-button-link:hover {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 10px 0;
  width: 150px;
  background-color: #02897A;
  text-align: center;
  border-radius: 4px;
  color: #fff;
  border: 1px solid #BCD0E5;
}

@media (max-width: 1000px) {
  .business__content {
    margin: 157px 0 150px 0;
  }
}
@media (max-width: 862px) {
  .business__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0;
  }
  .business__wrapper-box-button {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: row;
  }
  .business-img {
    width: 100%;
    height: auto;
  }
  .business__wrapper-box-title {
    text-align: center;
  }
}
.footer__wrapper {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: row;
}

.footer__wrapper-content {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 24px;
}

.footer__wrapper-content-logo {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: row;
  gap: 16px;
}

.footer__wrapper-resource-list {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 10px;
}

.footer__wrapper-resource-title {
  color: #22343D;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  color: var(--color-icon);
}

.footer__wrapper-resource-item {
  color: #22343D;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  color: var(--color-icon);
}

.footer-wrap {
  width: 280px;
}

.footer__wrapper-form-text {
  color: #22343D;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  color: var(--color-icon);
  margin-bottom: 30px;
}

.form-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding-left: 15px;
  width: 325px;
  height: 48px;
  border-radius: 4px;
  border: 1px solid #BCD0E5;
  background-color: #FFF;
}

.form-input {
  display: inline-block;
  border: none;
  color: #BCD0E5;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.footer__wrapper-button {
  margin-top: 21px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 10px 0;
  width: 131px;
  background-color: #02897A;
  text-align: center;
  border-radius: 4px;
}
.footer__wrapper-button:hover {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 10px 0;
  width: 131px;
  background-color: #FFF;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #BCD0E5;
}
.footer__wrapper-button:hover > .footer__wrapper-button-link {
  color: #02897A;
}

.footer__wrapper-button-link {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.footer-end {
  margin-top: 16px;
  margin-bottom: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.footer-end-text {
  color: #22343D;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: var(--color-icon);
  text-align: center;
}

@media (max-width: 900px) {
  .footer__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
  }
  .footer__wrapper-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 32px;
  }
  .footer__wrapper-resource-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }
  .form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .footer__wrapper-form-text {
    text-align: center;
  }
  .footer__wrapper-button {
    margin-bottom: 44px;
  }
}
@media (max-width: 365px) {
  .form-label {
    width: 80%;
  }
}/*# sourceMappingURL=main.css.map */