:root{
    --bg-header:white;
    --color-icon:#173A56;
    --navbar-color:#837D88;
    --modal-bg:#2C2830;
    --menu-bg:white;
    // --color-text:#173A56;
 }

.mode{
    --bg-header:#1F2E35;
    --color-icon:white;
    --navbar-color:white;
    --modal-bg:#e4e1ea;
    --menu-bg:#F3F3F3;
}
body{
    overflow-x: hidden;
}
.model{
    transition: all 0.4s linear;
    transform: translateX(100%);
    background-color: var(--modal-bg);
    color: var(--bg-header);
    @include display($direction:column, $space:center, $items:center);
    padding-top: 20px;
    gap: 10px;
}
.show-modal{
    transform: translateX(0);
}
.menu-button{
    @include display($direction:column, $space:center, $items:center);
    gap: 20px;
    margin-bottom: 20px;
}
.close{
    display: none;
}
.remove-self{
    display: none;
}
.open-close{
    display: block;
}

.site-header{
    padding: 19px;
}
.header__logo-link{
    color: var(--color-icon);
}
.header__contact-icon-button{
    border: none;
    background-color: var(--menu-bg);
    width: 32px;
    height: 32px;
    border-radius: 100%;
}
.header{
    @include display()
}
.header__logo-img:hover{
    opacity: 0.8;
}
.header__navbar{
    @include display($space:start);
    gap: 28px;
}
.header__nav{
    @include display();
    gap: 24px;
}
.navbar__list{
    @include display($space:start);
    gap: 20px;
}
.navbar__link{
    @include textStyle();
    color: var(--color-icon);
    &:hover{
        @include textStyle($fontWeight:600);
        color: var(--color-icon);
    }
}
.view-plans{
    color: var(--color-icon);
    border-color: var(--color-icon);
}
.contact{
    @include display($space:start);
    gap: 24px;
}
.contact__sign-in{
   @include button($width:102px,$colorBg:transparent);
   border: 1px solid #BCD0E5;
   color: var(--color-icon);
   background-color: #FFF;
   &:hover{
    @include button($width:102px);
    border: 1px solid #02897A;
    color: #FFF;
   }
}
.contact__sign-up{
    @include button();
    &:hover{
        @include button();
        color: #02897A;
        background-color: #FFF;
    }
}
.header__contact-icon{
    border: none;
    background: transparent;
}
#modeBtn{
    color: var(--color-icon);
    border-color: var(--color-icon);
}
.hamburger-btn{
    display: none;
    border: none;
    background-color: transparent;
    color: var(--modal-bg);
}
.header-element{
    @include display($space:start);
    gap: 20px;
}
@media (max-width:930px){
    .header__nav{
        display: none;
    }
    .hamburger-btn{
        display: block;
    }
}
@media (max-width:400px){
    .header-element{
        gap: 2px;
    }
}